<p style="background-color:gainsboro;color:black">
    <h3>Werknemer</h3>
    Lanceer een verkoopcampagne voor: <b>@Land</b><br />
    Te verkopen product: <b>@Product</b><br />
</p>

@code {
    [Parameter]
    public string Land { get; set; }
    [Parameter]
    public string Product { get; set; }
}
