@page "/"

<h1>Hallo wereld!</h1>

<p>Gefeliciteerd met je nieuwe app die met Blazor en C# is gemaakt.</p>

<p>Meer weten? Lees dan mijn <a href="https://www.mrasoft.nl" target="_blank" class="ml-md-auto">blog</a> over C# en Blazor </p>


